<form id="form-client-address">
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>CEP</label>
            <input type="text" name="ZipCode" id="ZipCode" class="form-control" />
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Endereço</label>
            <input type="text" name="Address" id="address" class="form-control" />
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Bairro</label>
            <input type="text" name="Neighborhood" id="Neigborhood" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Número°</label>
            <input type="text" name="AddressNumber" id="AddressNumber" class="form-control" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Complemento</label>
            <input type="text" name="AddressComplement" id="AddressComplement" class="form-control" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Cidade</label>
            <input type="text" name="City" id="City" class="form-control" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Estado</label>
            <input type="text" name="State" id="State" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Tipo Endereço:</label>
            <select class="custom-select" name="TypeAddress" id="TypeAddress" onchange="selectType()">
                <option value="">Selecione</option>
                <option value="1">Cobrança</option>
                <option value="2">Comercial</option>
                <option value="3">Correspondencia</option>
                <option value="4">Entrega</option>
                <option value="5">Residencial</option>
            </select>

        </div>
    </div>
</div>
</form>